doormat.sh
/nomad-infrastructure/.terraform/
/nomad-infrastructure/.terraform.lock.hcl
/vault-config/.terraform/
/vault-config/.terraform.lock.hcl
/consul-config/.terraform/
/consul-config/.terraform.lock.hcl
