<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>HashiConf Activations</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="escape-room" class="menu-escape-room">
      Escape Room
    </LinkTo>
    <LinkTo @route="robots" class="menu-robots">
      Robots
    </LinkTo>
  </div>
</nav>