[Unit]
Description=Fake service systemd file
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/fake-service
ExecStop=/bin/sleep 5
Restart=always

[Install]
WantedBy=multi-user.target