<Header>
    <h2>HashiConf - Activations Leaderboards</h2>
    <div>
        <h3>Team Submissions</h3>
        <p>Submit a team to the leaderboard for the activation.</p>

        <body>
            <div>
                <LinkTo @route="escape-room" class="button">Escape Room</LinkTo>
                <LinkTo @route="robots-leaderboard" class="button">Robots</LinkTo>
            </div>
        </body>
    </div>
    <div>
        <h3>Leaderboards</h3>
        <p>View leaderboards for each activation.</p>
        <div>
            <LinkTo @route="escape-room-ilm" class="button">ILM Escape Room</LinkTo>
            <LinkTo @route="escape-room-ilm" class="button">SLM Escape Room</LinkTo>
            <LinkTo @route="robots" class="button">Robots</LinkTo>
        </div>
    </div>
</Header>